In [22]:
from sqlalchemy import create_engine, INTEGER, VARCHAR, FLOAT
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus
import pandas as pd

In [23]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Set up connection parameters
username = "root"
password = "admin" 
db_name = "movie2"  # Remove the ".sql" extension if it's not part of the database name

# If your password contains special characters, you can quote it
# password_quoted = quote_plus(password)

# Create the SQLAlchemy connection string
connection_str = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

# Create the SQLAlchemy engine
engine = create_engine(connection_str)

# Connect to the database
conn1 = engine.connect()

import pandas as pd

# Replace 'file_path' with the path to your TSV file
file_path = 'Desktop/Project2/data.tsv'

# Read the TSV file into a DataFrame
df= pd.read_csv(file_path, sep='\t')

# Display the first few rows of the DataFrame to verify that it was read correctly
print(df.head())
# Rename columns
df.columns = ['tconst', 'average_rating', 'number_of_votes']

# Check for duplicates in the DataFrame
print("Number of rows before removing duplicates:", len(df))
df.drop_duplicates(subset=['tconst'], inplace=True)
print("Number of rows after removing duplicates:", len(df))

# Now use the to_sql() method to insert the DataFrame into the SQL table
try:
    df.to_sql("ratings", conn1, index=False, if_exists='append')
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1988
1  tt0000002            5.8       265
2  tt0000003            6.5      1849
3  tt0000004            5.5       178
4  tt0000005            6.2      2632
Number of rows before removing duplicates: 1331492
Number of rows after removing duplicates: 1331492
Error inserting data: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'tt0000001' for key 'ratings.PRIMARY'")
[SQL: INSERT INTO ratings (tconst, average_rating, number_of_votes) VALUES (%(tconst)s, %(average_rating)s, %(number_of_votes)s)]
[parameters: ({'tconst': 'tt0000001', 'average_rating': 5.7, 'number_of_votes': 1988}, {'tconst': 'tt0000002', 'average_rating': 5.8, 'number_of_votes': 265}, {'tconst': 'tt0000003', 'average_rating': 6.5, 'number_of_votes': 1849}, {'tconst': 'tt0000004', 'average_rating': 5.5, 'number_of_votes': 178}, {'tconst': 'tt0000005', 'average_rating': 6.2, 'number_of_votes': 2632}, {'tconst': 'tt0000006', 'average_rating': 5.1, 'number_of_votes': 182}, {'tconst': 'tt0000007', 'average_rating': 5.4, 'number_of_votes': 825}, {'tconst': 'tt0000008', 'average_rating': 5.4, 'number_of_votes': 2125}  ... displaying 10 of 1331492 total bound parameter sets ...  {'tconst': 'tt9916840', 'average_rating': 7.5, 'number_of_votes': 7}, {'tconst': 'tt9916880', 'average_rating': 7.0, 'number_of_votes': 7})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

C:\Users\asus\AppData\Local\Temp\ipykernel_5408\3678243145.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2= pd.read_csv(file_path, sep='\t')

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              4  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short

In [25]:

# Replace 'file_path' with the path to your TSV file
file_path = 'Desktop/Project2/data1.tsv'

# Read the TSV file into a DataFrame
df3= pd.read_csv(file_path, sep='\t')

# Display the first few rows of the DataFrame to verify that it was read correctly
print(df3.head())
q= '''SELECT * FROM title_basics'''
pd.read_sql(q, conn1)

C:\Users\asus\AppData\Local\Temp\ipykernel_5408\1463374804.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df3= pd.read_csv(file_path, sep='\t')

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short          Pauvre Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

  isAdult startYear endYear runtimeMinutes                    genres
0       0      1894      \N              1         Documentary,Short
1       0      1892      \N              5           Animation,Short
2       0      1892      \N              4  Animation,Comedy,Romance
3       0      1892      \N             12           Animation,Short
4       0      1893      \N              1              Comedy,Short

Empty DataFrame
Columns: [tconst, primary_title, start_year, runtime]
Index: []

In [30]:
# Drop unwanted columns from the DataFrame
print(df3.columns)
columns_to_keep = ['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes']
df3 = df3[columns_to_keep]

# Rename the columns to match the database table columns
df3.columns = ['tconst', 'primary_title', 'start_year', 'runtime']


# Now use the to_sql() method to insert the DataFrame into the SQL table
try:
    df3.to_sql("title_basics", conn1, index=False, if_exists='append')
    print("Data inserted successfully!")
except Exception as e:
    print("Error inserting data:", e)

Index(['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult',
       'startYear', 'endYear', 'runtimeMinutes', 'genres'],
      dtype='object')
Error inserting data: (pymysql.err.DataError) (1265, "Data truncated for column 'runtime' at row 19")
[SQL: INSERT INTO title_basics (tconst, primary_title, start_year, runtime) VALUES (%(tconst)s, %(primary_title)s, %(start_year)s, %(runtime)s)]
[parameters: ({'tconst': 'tt0000001', 'primary_title': 'Carmencita', 'start_year': '1894', 'runtime': '1'}, {'tconst': 'tt0000002', 'primary_title': 'Le clown et ses chiens', 'start_year': '1892', 'runtime': '5'}, {'tconst': 'tt0000003', 'primary_title': 'Pauvre Pierrot', 'start_year': '1892', 'runtime': '4'}, {'tconst': 'tt0000004', 'primary_title': 'Un bon bock', 'start_year': '1892', 'runtime': '12'}, {'tconst': 'tt0000005', 'primary_title': 'Blacksmith Scene', 'start_year': '1893', 'runtime': '1'}, {'tconst': 'tt0000006', 'primary_title': 'Chinese Opium Den', 'start_year': '1894', 'runtime': '1'}, {'tconst': 'tt0000007', 'primary_title': 'Corbett and Courtney Before the Kinetograph', 'start_year': '1894', 'runtime': '1'}, {'tconst': 'tt0000008', 'primary_title': 'Edison Kinetoscopic Record of a Sneeze', 'start_year': '1894', 'runtime': '1'}  ... displaying 10 of 10017011 total bound parameter sets ...  {'tconst': 'tt9916856', 'primary_title': 'The Wind', 'start_year': '2015', 'runtime': '27'}, {'tconst': 'tt9916880', 'primary_title': 'Horrid Henry Knows It All', 'start_year': '2014', 'runtime': '10'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)